* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	height: 45vh;
	min-height: 250px;
	max-height: 500px;
	width: 50vw;
	min-width: 400px;
	max-width: 800px;
	border: 1px solid black;
	margin: 5px 0;

}

.top {
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.bottom {
	border: 1px solid red;
}

.panel-photo {
	border: 1px solid black;
	/*width: 33.33%;*/
	/*flex: 1;*/
}
.panel-1, .panel-2 {
	flex: 0.5;
}
.panel-3 {
	flex: 2;
}
.top a {
	border: 1px solid black;
	width: 150px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
}

.top p {
	margin: 0 20px;
}