/*--- menu1 ---*/
/* Sukurkite pavaizduotą menu: Užvedus ant nuorodos spalva keičiasi į raundoną.*/


/*To color the li list item (dot next to text), can be used list-style-position: inside or outside */

/*.menu1 > ul > li > a, 
.menu1 > ul > li > a:visited {
	text-decoration: none;
	color: blue;
}

.menu1 > ul > li > a:hover {
	text-decoration: underline;
	color: red;
}*/

.menu1 a, 
.menu1 a:visited {
	text-decoration: none;
	color: blue;
}

.menu1 a:hover {
	text-decoration: underline;
	color: red;
}



/*--- menu2 ---*/
/*buttons with blue border, with bolded text on hover*/

.menu2 ul {
	list-style-type: none;
}

.menu2 a,
.menu2 a:visited {
	text-decoration: none;
	color: blue;
	border: 1px solid blue;
	display: block;
	width: 200px;
	padding: 5px;
	margin: 5px;
}

.menu2 a:hover {
	font-weight: bold;
}



/*--- menu3 ---*/
/*Colored buttons, on hover the coloring is inversed*/

.menu3 ul {
	list-style-type: none;
	width: 200px;
}

.menu3 a,
.menu3 a:visited {
	display: block;
	/*width: 200px;*/
	padding: 5px;
	margin-bottom: 5px;
	text-decoration: none;
	background-color: DarkOliveGreen;
	color: beige;
	font-weight: bold;
	border: 1px solid DarkOliveGreen;
}

.menu3 a:hover {
	background-color: beige;
	color: DarkOliveGreen;
}



/*--- menu4 ---*/
/*buttons inline*/
.menu4 ul {
	list-style-type: none;
}

.menu4 li {
	display: inline;
}

.menu4 a,
.menu4 a:visited {
	text-decoration: none;
	color: blue;
	border: 1px solid blue;
	padding: 5px;
}

.menu4 a:hover {
	color: red;
}



/*--- menu5 ---*/
/*buttons inline, background color on hover*/
.menu5 ul {
	list-style-type: none;
}

.menu5 li {
	float: left;
	margin-right: 10px;
}

.menu5 a,
.menu5 a:visited {
	text-decoration: none;
	color: blue;
	border: 1px solid blue;
	padding: 5px;
}

.menu5 a:hover {
	background-color: DarkOliveGreen;
	color: white;
}



/*--- menu6 ---*/
/*buttons inline, background color on hover, last link on right*/
.menu6 ul {
	list-style-type: none;
	background-color: beige;
	height: 42px;
}

.menu6 li {
	float: left;
}

.menu6 li:last-child {
	float: right;
}

.menu6 a,
.menu6 a:visited {
	height: 20px;
	display: block;
	text-decoration: none;
	color: blue;
	padding: 10px 15px;
}

.menu6 a:hover {
	background-color: DarkOliveGreen;
	color: white;
}