
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

@import "variables";

@import "~bootstrap/scss/bootstrap";

body {
	font-family: 'Nunito Sans', sans-serif;
	color: $primary;
}

.price {
	background-color: #f4f6fc;
}

.small-text-secondary {
	color: $secondary;
	font-size: 0.9rem;
}

.features-cont > ul > li {
	text-decoration: dotted underline grey;
	margin-top: 15px;
}