* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 90%;
    margin: auto;
}


.nav-cont {
    position: relative;

}

.nav-links {
    list-style-type: none;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
}

.nav-links li {
    width: 100%;
}

.nav-links a,
.nav-links a:visited {
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px;
    line-height: 2rem;
    text-align: center;
}

.nav-links a:hover {
    background-color: grey;
}

.bi-list, .bi-x {
	display: none;
	font-size: 2rem;
}

.nav-hamburger-cont {
    position: absolute;
    top: 5px;
    right: 5px;
	margin: auto 10px;
	cursor: pointer;
}

.nav-active {
	display: flex;
}
.burger-active {
	display: inline;
}

.slide-cont {
    width: 100%;
    height: 100%;
}

.slide {
    display: none;
}

.slide:nth-child(3) {
    display: block;
}

.slide > img {
    width: 100%;
    max-height: 100vh;
    object-fit: contain;
}

.clock {
    text-align: center;
    font-size: 23vw;
}

.contact-us-cont {
    /* width: 50%; */
    margin: 0 auto;
}

.contact-us-cont form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    text-align: center;
}

.contact-us-cont p {
    margin-top: 10px;
}

.contact-us-cont input {
    padding: 5px;
}

.contact-us-cont button {
    margin: 10px;
    padding: 10px 50px;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background-color: lightgray;
}


@media only screen and (min-width: 768px) {
	.nav-links {
		display: flex;
		/* position: static; */
		flex-direction: row;
		justify-content: start;
	}

    .nav-links li {
        width: 150px;
    }

	.nav-hamburger-cont {
		display: none;
	}

}