* {
	margin: 0px;
	padding: 0px;
}

main {
	margin: 10px 10px;
}

div {
	border: 1px solid black;
	margin: 10px 0px;

}

form {
	margin: 20px 0px;
}

.but1 {
	margin: 10px 5px;
}

.but2 {
	margin: 10px 5px;
}

legend {
	margin-left: 20px;
}

input:first-child {
	margin-left: 30px;
}

p {
	width: 170px;
	position: relative;
	top: -10px;
	left: 20px;
	background: white;

}

button	{
	background: white;
	margin-top: 5px;
	padding: 2px 5px;
	border-radius:  3px;
	border: 1px solid lightgrey;
}